node_modules/
dist/
.npm-cache/
coverage/
.playsync-token
*.log
android/.gradle/
android/.gradle-bootstrap/
android/.gradle-user-home/
android/.kotlin/
android/build/
android/app/build/
android/local.properties
android/release.keystore
android/keystore.properties
